@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './typo.scss';
@import './default-content.scss';
@import '../../components/header/header.scss';

body {
  @apply leading-[normal] m-0;
  margin: 0 auto;
  padding-bottom: 40px;
  @media only screen and (min-width: 478px) {
    margin-top: 30px;
    margin-bottom: 30px;
    max-height: 768px;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
  }
}

*,
::before,
::after {
  border-width: 0;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
